body{
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, skyblue, pink);
    height: 100vh; /* Full viewport height */
    display: flex; /* Flexbox for centering */
    flex-direction: column; /* Stack elements vertically */
    margin-top: 80px;
    align-items: center; /* Center horizontally */
}

